<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App: Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="main">
        <div class="side-panel">
            <div class="user">
                <div class="svg-container"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#fff">
                        <path
                            d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" />
                    </svg></div>
                <h2>Sachin Sharma</h2>
            </div>
            <ul>
                <li class="messages"><a href="/"> <span class="svg-container"><svg class="svg"
                                xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#fff">
                                <path
                                    d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z" />
                            </svg></span><span>Messages</span></a></li>
                <li class="contacts"><a href=""> <span class="svg-container"><svg class="svg"
                                xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#fff">
                                <path
                                    d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z" />
                            </svg></span><span>Contacts</span></a></li>
                <li class="profile"><a href=""> <span class="svg-container"><svg class="svg"
                                xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#fff">
                                <path
                                    d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z" />
                            </svg></span><span>Profile</span></a></li>
            </ul>
        </div>
        <div class="main-panel">
            <div class="section-1">
                <h2>Messages</h2>
                <li>
                    <div class="img-con"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                            width="24px" fill="#fff">
                            <path
                                d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" />
                        </svg>
                    </div>
                    <div class="content-con">
                        <div class="content-header">
                            <span class="content-name">Sachin Sharma</span>
                            <span class="content-time">15:35</span>
                        </div>
                        <div class="content-msg">
                            <span class="content-lastmsg">Hello world!</span>
                            <span class="unread-count"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img-con"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                            width="24px" fill="#fff">
                            <path
                                d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" />
                        </svg></div>
                    <div class="content-con">
                        <div class="content-header">
                            <span class="content-name">Bhola Bhandari</span>
                            <span class="content-time">00:00</span>
                        </div>
                        <div class="content-msg">
                            <span class="content-lastmsg unread">Jayy Bholenath!</span>
                            <span class="unread-count">1</span>
                        </div>
                    </div>
                </li>
            </div>
            <div class="section-2">
                <div>
                    <div class="chatprofile">
                        <div class="img-con"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                width="24px" fill="#fff">
                                <path
                                    d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" />
                            </svg></div>
                        <div class="content-con">
                            <p class="content-name">Bhola Bhandari</p>
                            <p class="content-lastmsg">Jayy Bholenath!</p>
                        </div>
                    </div>
                    <div class="msges-container">
                        <div class="msg-right">
                            <span class="msges">Hello PrabhuJI, I am your tuchh divotee, please do kripa to me</span>
                            <span class="msges-time">00:00</span>
                        </div>
                            <div class="msg-left">
                                <span class="msges">Karm karo vatss fal ki chinta mat karo..</span>
                                <span class="msges-time">02:01</span>
                            </div>
                        
                    </div>
                </div>
                <div class="typebox">
                    <input type="text" name="typebox" id="msg-input" placeholder="Send message..">
                   <button><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg></button>
                </div>
            </div>
        </div>
</body>

</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat With Me</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <div class="chat-app-container">
        <aside class="sidebar">
            <div class="profile-section">
                <div class="profile-avatar-large">
                    <img src="" alt="<%= user.firstname %> Profile">
                    </div>
                <h3 class="username"> <%= (user.firstName) %> <%= user.lastName %></h3>
            </div>
            <nav class="main-nav">
                <a id="nav-item-messages" class="nav-item active">
                    <i class="fas fa-comment"></i>
                    <span>Messages</span>
                </a>
                <a id="nav-item-contacts"   class="nav-item">
                    <i class="fas fa-users"></i>
                    <span>Contacts</span>
                </a>
                <a  id="nav-item-profile" class="nav-item">
                    <i class="fas fa-user-circle"></i>
                    <span>Profile</span>
                </a>
                </nav>
        </aside>

        <section class="chat-list-panel">
            <div class="chat-list-header">
                <h2>Messages</h2>
                <!-- <label id="search-checkbox-label-1" for="search-checkbox"></label><i class="fas fa-search"></i></label> -->
                <label id="search-checkbox-label" for="search-checkbox"><i class="fas fa-plus-square"></i></label>
            </div>
            <div class="chat-list-scroll">
                <input type="checkbox" name="search-checkbox" id="search-checkbox">
                <div class="chat-list-search-panel">
                   <input type="text" placeholder="Username" class="message-input" name="" id="search-input">
                   <button id="search-button" class="send-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <div class="search-list">
                    <div class="search-item chat-item">
                        <span>Sachin Sharma</span>
                        <button id="connect-btn" class="send-button">Connect</button>
                    </div>
                    <div class="search-item chat-item">
                        <span>Monalika Sharma</span>
                        <button class="send-button" >Connect</button>
                    </div>
                </div>
                </div>
                
            </div>
        </section>

        <main class="chat-main">
            <div id="chat-main-header" class="chat-main-header">
                <button id="back-button" class="back-button">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <div id="chat-avatar-main" class="chat-avatar chat-avatar-main">
                    <img src="https://placehold.co/50x50/3c006b/FFFFFF?text=SS" alt="User Avatar">
                </div>
                <span id="chat-name-main" class="chat-name-main">Chatting App</span>
                <span id="chat-status-main" class="chat-status-main">Online</span>
                <div class="chat-main-actions">
                    <i class="fas fa-video"></i>
                    <i class="fas fa-phone"></i>
                </div>
            </div>

            <div id="messages-area" class="messages-area">
                
            </div>

            <div class="chat-input-area">
                <input type="text" placeholder="Send message.." class="message-input" id="message-input">
                <button id="sendMessage" class="send-button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </main>
    </div>
    <script>
        const user = <%- JSON.stringify(user) -%>;
        const contacts = <%- JSON.stringify(contacts) -%>;
        const conversations = <%- JSON.stringify(conversations) -%>;
    </script>
<script src="/index.js"></script>
</body>
</html>